<section>
  <div class="page-header">
    <h1>Teachers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="teacher in vm.teachers"
       ui-sref="teachers.view({ teacherId: teacher._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="teacher.created | date:'mediumDate'"></span>
        by
        <span ng-if="teacher.user" ng-bind="teacher.user.displayName"></span>
        <span ng-if="!teacher.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="teacher.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.teachers.$resolved && !vm.teachers.length">
    No Teachers yet, why don't you <a ui-sref="teachers.create">create one</a>?
  </div>
</section>
