
<div id="share-buttons">
  &emsp;Share this page:&emsp;
  <!-- Email -->
  <a id="email" >
    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
  </a>

  <!-- Facebook -->
  <a id= "facebook" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
  </a>

  <!-- Twitter -->
  <a id="twitter" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
  </a>

  <!-- Google+ -->
  <a id="google" id="google" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
  </a>

  <!-- LinkedIn -->
  <a id="linkedin" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
  </a>

  <!-- Print -->
  <a href="javascript:;" onclick="window.print()">
    <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
  </a>

</div>
<li class="container center-text" id="head" ng-controller="HeaderController" />
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
  <img class="headerObjs" src="https://scontent-mia1-1.xx.fbcdn.net/v/t31.0-8/16665328_1628894697128387_5824938386736968709_o.jpg?oh=8952f6f8ca1ac312018a201aafa8e221&oe=5900316B" alt="Logo Header" height="165">


  <!-- carousel ----------------------------------------------------------->
  <br>
  <style>
    #artworkCarousel {
      list-style-type: none;
      margin: 5px;
      padding: 5px;
      overflow: hidden;
      text-align: center;
    }
    #artList {
      display: inline-block;
      text-align: center;
      margin: 5px;
      padding: 5px;
    }

  </style>
  <ul id="artworkCarousel">
    <li id="artList" ng-repeat="artwork in slides">
      <a href="/artsubmissions/{{ artwork.id }}">
      <img src="{{ artwork.image }}" alt="awesome-creations-contest" height="100" width="180">
      </a>
    </li>
  </ul>


  <br>
  <!-- End of carousel-->

  <div class="navbar-header click">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a ui-sref="home" id="homebtn" class="navbar-brand headerbtn">Home</a>
  </div>
  <div class="navbar-header click">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a ui-sref="contactus.list" id="contactbtn" class="navbar-brand navbtn">Contact Us</a>
  </div>
  <nav class="collapse navbar-collapse click" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="settings.accounts">Manage Social Accounts</a>-->
          <!--</li>-->
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>

    <div id="zipModal" class="modal" >
      <!-- Modal content -->
      <div class="modal-content" ng-hide="authentication.user">
        <span id="modalHeader">Welcome to your neighborhood educational magazine!</span>
        <span class="close">&times;</span>
        <div id="modalTxt">
          <p>In order for School Notes Magazine to provide you with a custom site for your area, please either sign in or provide your zip code.</p>
          <p>Thank you!</p>
        </div>
        <span>
          <div ng-hide="authentication.user">
            <button ui-sref-active="active" id="signup" class="btn button noUser nav" >
              <a ui-sref="authentication.signup">Sign Up</a>
            </button>
            <button id="signin" class="btn button noUser nav" ui-sref-active="active">
              <a ui-sref="authentication.signin">Sign In</a>
            </button>
            <span class="form-group">
              <button type="submit" class="btn button noUser" id="zip-btn">Submit</button>
            </span>
            <input type="text" ng-model="user.zipcode" id="zipcode" class="form-control" placeholder="Zip code">
          </div>
        </span>
      </div>
    </div>
  </nav>
</div>
<div class="left-ad ad">
  <img src="/modules/sponsors/client/img/3_17_dominos.jpg">
</div>

<div class="right-ad ad">
  <img src="/modules/sponsors/client/img/3_17_UFHealth.jpg">
</div>


<!--<script>-->
  <!--document.getElementById("google").href = "https://plus.google.com/share?url="+window.location.href;-->
  <!--document.getElementById("linkedin").href = "";-->
  <!--document.getElementById("email").href = "";-->
<!--</script>-->
<!-- The Modal -->
