
<div id="share-buttons">
  &emsp;Share this page:&emsp;
  <!-- Email -->
  <a id="email" >
    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
  </a>

  <!-- Facebook -->
  <a id= "facebook" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
  </a>

  <!-- Twitter -->
  <a id="twitter" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
  </a>

  <!-- Google+ -->
  <a id="google" id="google" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
  </a>

  <!-- LinkedIn -->
  <a id="linkedin" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
  </a>

  <!-- Print -->
  <a href="javascript:;" onclick="window.print()">
    <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
  </a>

</div>
<div class="container center-text" id="head" ng-controller="HeaderController" >
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
  <img class="headerObjs" src="https://scontent-mia1-1.xx.fbcdn.net/v/t31.0-8/16665328_1628894697128387_5824938386736968709_o.jpg?oh=8952f6f8ca1ac312018a201aafa8e221&oe=5900316B" alt="Logo Header" height="165">
<!-- carousel ----------------------------------------------------------->

  <style>
    .bgimage {
      text-align:right;
      color:white;
      background-size:cover;
      height: 100%;
      background-position: center center;
    }

    ul[rn-carousel] {
      width:400px;
      height:200px;
      margin: 0 auto;
    }

    .carousel-demo {
      margin-top:20px;
      display:inline-block;
      text-align: center;
    }

    .carousel-demo ul[rn-carousel-transition="hexagon"] {
      margin-left:100px;
    }

    input[type=range] {
      width: 300px;
    }

    ul[rn-carousel] {
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      position: relative;
      -webkit-perspective: 1000px;
      -ms-perspective: 1000px;
      perspective: 1000px;
      -ms-touch-action: pan-y;
      touch-action: pan-y;
    }

    ul[rn-carousel] > li {
      color: black;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: visible;
      vertical-align: top;
      position: absolute;
      left: 0;
      right: 0;
      white-space: normal;
      padding: 0;
      margin: 0;
      list-style-type: none;
      width: 100%;
      height: 100%;
      display: inline-block;
    }

    /* prevent flickering when moving buffer */
    ul[rn-carousel-buffered] > li {
      display: none;
    }

    ul[rn-carousel-transition="hexagon"] {
      overflow: visible;
    }

    /* indicators */
    div.rn-carousel-indicator span {
      cursor: pointer;
      color: #666;
    }
    div.rn-carousel-indicator span.active {
      color: white;
    }

  </style>

  <div class="carousel-demo">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-transition="hexagon" rn-carousel-buffered class="myCarousel">
      <li ng-repeat="slide in slides3 track by slide.id">
        <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
          #{{ slide.id }}
        </div>
      </li>
    </ul>
  </div>

  <br>
  <div id="myCarousel" class="carousel slide headerObjs" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/modules/artsubmissions/client/img/2_5_RickandMorty.jpg" alt="art-poster_orig" width="100" height="500">
      </div>

      <div class="item" ng-repeat="slide in slides3 track by slide.id">
        <img src="slide.img" width="100" height="50">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" ng-non-bindable data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" ng-non-bindable data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="navbar-header click">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a ui-sref="home" id="homebtn" class="navbar-brand headerbtn">Home</a>
  </div>
  <div class="navbar-header click">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a ui-sref="contactus.list" id="contactbtn" class="navbar-brand navbtn">Contact Us</a>
  </div>
  <nav class="collapse navbar-collapse click" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="settings.accounts">Manage Social Accounts</a>-->
          <!--</li>-->
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>

    <div id="zipModal" class="modal" >
      <!-- Modal content -->
      <div class="modal-content" ng-hide="authentication.user">
        <span id="modalHeader">Welcome to your neighborhood educational magazine!</span>
        <span class="close">&times;</span>
        <div id="modalTxt">
          <p>In order for School Notes Magazine to provide you with a custom site for your area, please either sign in or provide your zip code.</p>
          <p>Thank you!</p>
        </div>
        <span>
          <div ng-hide="authentication.user">
            <button ui-sref-active="active" id="signup" class="btn button noUser nav" >
              <a ui-sref="authentication.signup">Sign Up</a>
            </button>
            <button id="signin" class="btn button noUser nav" ui-sref-active="active">
              <a ui-sref="authentication.signin">Sign In</a>
            </button>
            <span class="form-group">
              <button type="submit" class="btn button noUser" id="zip-btn">Submit</button>
            </span>
            <input type="text" ng-model="user.zipcode" id="zipcode" class="form-control" placeholder="Zip code">
          </div>
        </span>
      </div>
    </div>
  </nav>
</div>

<!--<script>-->
  <!--document.getElementById("google").href = "https://plus.google.com/share?url="+window.location.href;-->
  <!--document.getElementById("linkedin").href = "";-->
  <!--document.getElementById("email").href = "";-->
<!--</script>-->
<!-- The Modal -->
