
<section class="text" ng-controller="HomeController">

  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

  <div class="row">
  <!--Left Half-->
    <div class="col-sm-6" >
      <div>
        <h2>Who we are</h2>
        <p>
          School Notes Magazine is the only magazine made for parents by teachers!
          <br/><br/>
          Our digest-sized parenting magazine travels home with students every month.<br/><br/>
          What's inside?
          <ul>
            <li>Educational articles</li>
            <li>Effective learning strategies</li>
            <li>Monthly art contest</li>
            <li>Local advertisers</li>
            <li>Savings</li>
          </ul>
          <br/>
          <p>IT'S NEW. IT'S FRESH. IT'S FUN!</p>
        </p>
    </div>
    <div>
        <h2>Featured article</h2>
        <p>
          Open the door to educational fun
          by clicking on our latest front cover!
        </p>
    </div>

    <div>
        <h2>Community events</h2>
    </div>
  </div>

    <!--Right half-->
    <div class="col-sm-6 container text-center">
      <h2>Checkout our latest issue!</h2>
      <img src="http://www.schoolnotesmagazine.org/uploads/2/0/5/9/20594016/sn-novdec-2016-cover.jpg" alt="sn-novdec-2016-cover" width="400" height="600">
      <br/><br/><br/>
    </div>
  </div>
</section>
