<section ng-controller="ArticlesController" ng-init="findOne()">
   <div class="page-header">
    <h1 ng-bind="article.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit" title="edit submission"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash" title="discard submission"></i>
    </a>
    <a class="btn btn-primary" ng-click="alert();">
      <i class="glyphicon glyphicon-alert" title="return for revisions"></i>
    </a>
    <a class="btn btn-primary" ng-click="reject();">
      <i class="glyphicon glyphicon-remove" title="reject submission"></i>
    </a>
    <a class="btn btn-primary" ng-click="approve();">
      <i class="glyphicon glyphicon-ok" title="approve submission"></i>
    </a>
 </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
      <p>Status:
      <span ng-bind="article.status"></span>
      </p>
    </em>
  </small>
  <p class="lead" ng-bind="article.content"></p>

  <!--<p class="textarea-muted" ng-bind-html="article.comments"></p>
  -->
  <!-- <pre>{{article.comments}}</pre>

  <fieldset>
    <div class="form-group">
      <label for="comments">Comments</label>
      <input name="comments" type="text" ng-model="comments" id="comments" class="form-control" placeholder="Enter Comments" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default" ng-click="comment();">
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group"> -->
      <!--
        chat type format
      -->
      <!--

      <input name="comments" type="text" ng-model="comments" id="comments" class="form-control" placeholder="Enter Comments" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default" ng-click="comment();">
    </div>
  </fieldset> -->

  <div class = "row">
    <div class="col-md-8 col-md-offset-0">
      <div class="page-header">
        <h1>Comments</h1>
      </div>
      <!-- <span ng-bind="article.comments[0].title"></span> -->
    <div ng-repeat="post in article.comments | orderBy:'date'">
      <!-- <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(post)"></span>
                  {{post.upvotes}} -->
      <span style="font-size:20px;">
        <!-- <span ng-hide="post.details"> -->
        <img ng-src="{{article.user.profileImageURL}}" alt="{{article.user.username}}" class="pull-left chat-profile-image" />
          <h3> {{post.title}}</h3>
          <small>
            <em class="text-muted">
              Posted on
              <span ng-bind="post.date | date:'mediumDate'"></span>
              by
              <span ng-bind="post.author"></span>
            </em>
          </small>
        <!-- </span> -->
        <br>
        <span ng-show="post.details" href="{{post.details}}" style="font-size:18px;">
          {{post.details}}
              <!-- <br> -->
        </span>
      </span>
    </div>

    <form ng-submit="addComment()" style="margin-top:30px;">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text"
          class="form-control"
          placeholder="Title"
          ng-model="commentTitle">
        </input>
      </div>
        <div class="form-group">
          <textarea type="text"
            class="form-control"
            placeholder="Details"
            ng-model="commentDetails">
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
  </div>


</section>
