<section ng-controller="ArticlesController" ng-init="findOne()">
   <div class="page-header">
    <h2 ng-bind="article.title"></h2>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == article.user._id || authentication.user.roles.includes('admin')">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit" title="edit submission"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash" title="discard submission"></i>
    </a>
    <a class="btn btn-primary" ng-hide="!authentication.user.roles.includes('admin')" ng-click="alert();">
      <i class="glyphicon glyphicon-alert" title="return for revisions"></i>
    </a>
    <a class="btn btn-primary" ng-hide="!authentication.user.roles.includes('admin')" ng-click="reject();">
      <i class="glyphicon glyphicon-remove" title="reject submission"></i>
    </a>
    <a class="btn btn-primary" ng-hide="!authentication.user.roles.includes('admin')" ng-click="approve();">
      <i class="glyphicon glyphicon-ok" title="approve submission"></i>
    </a>
 </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
      <p>Status:
      <span style="color:#FF0000" ng-bind="article.status"></span>
      </p>
    </em>
  </small>
  <p class="lead" ng-bind="article.content"  style="white-space:pre-wrap"></p>

  <div class = "row">
    <div class="col-md-8 col-md-offset-0">
      <div class="page-header">
        <h2>Comments</h2>
      </div>
    <div ng-repeat="post in article.comments | orderBy:'date'">
      <span style="font-size:18px;">
        <!-- <span ng-hide="post.details"> -->
        <!-- <img ng-src="{{article.user.profileImageURL}}" alt="{{article.user.username}}" class="pull-left chat-profile-image" /> -->
          <h3> {{post.title}}</h3>
          <small>
            <em class="text-muted">
              Posted on
              <span ng-bind="post.date | date:'short'"></span>
              by
              <span ng-bind="post.author"></span>
            </em>
          </small>
        </span>
      <span ng-show="post.details"
        href="{{post.details}}"
        style="white-space:pre-wrap">
        {{post.details}}              <!-- <br> -->
      </span>
      <!-- </span> -->
    </div>
    <form ng-submit="addComment()" style="margin-top:30px; margin-bottom:30px;">
      <h3>Add a new comment</h3>
      <div class="form-group">
        <input type="text"
          class="form-control"
          placeholder="Title"
          ng-model="commentTitle">
        </input>
      </div>
        <div class="form-group">
          <textarea type="text"
            class="form-control"
            placeholder="Details"
            ng-model="commentDetails">
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
  </div>


</section>
