<section>
  <div class="page-header">
    <h1>{{vm.game._id ? 'Edit Game' : 'New Game'}}</h1>
  </div>
  <style media="screen" type="text/css">
    .scrambleword {
      border-top: 1px solid darkred;
      border-bottom: 1px solid darkred;
    }
  </style>
  <div class="col-md-12">
    <!-- Need the
     Game type (use a drop down menu), change form on drop down menu change to match options for game type
     Game name
     There should be a text box to enter a paragraph that can be displayed.

    TODO every game should have a place so the teacher/game creator can write a short paragraph about the context of the game and/or add a picture
     -->
    <form name="vm.form.gameForm" class="form-horizontal" ng-submit="vm.save(vm.form.gameForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.game.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.gameForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Game name is required.</p>
          </div>

          <!-- Here is where I need to maybe ng-if? and display options for each game // from select ng-options="x for x in gameTypes" -->
          Select a game type:
          <select ng-model="vm.game.type" ng-dropdown required> <!-- TODO get this to set default option to current vm.game.type if we are editing a game -->
            <option value="wordsearch">Word-Search</option>
            <option value="wordscramble">Word-Scramble</option>
            <option value="maze">Maze</option>
          </select>

          <hr>
          <div ng-switch="vm.game.type">
            <div ng-switch-when="wordsearch">
              <h1>Word-search</h1>
              <p>Something something word search something something.

              Enter 15 letters on each line to create a 15x15 word search</p>
              <!-- would be nice if there was a character count for each line that counted down from 15, ignoring spaces-->
              <input name="line1" type="text" ng-model="vm.game.line1" id="line1" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line2" type="text" ng-model="vm.game.line2" id="line2" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line3" type="text" ng-model="vm.game.line3" id="line3" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line4" type="text" ng-model="vm.game.line4" id="line4" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line5" type="text" ng-model="vm.game.line5" id="line5" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line6" type="text" ng-model="vm.game.line6" id="line6" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line7" type="text" ng-model="vm.game.line7" id="line7" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line8" type="text" ng-model="vm.game.line8" id="line8" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line9" type="text" ng-model="vm.game.line9" id="line9" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line10" type="text" ng-model="vm.game.line10" id="line10" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line11" type="text" ng-model="vm.game.line11" id="line11" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line12" type="text" ng-model="vm.game.line12" id="line12" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line13" type="text" ng-model="vm.game.line13" id="line13" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line14" type="text" ng-model="vm.game.line14" id="line14" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <input name="line15" type="text" ng-model="vm.game.line15" id="line15" class="form-control" placeholder="A B C D E F G H I J K L M N O" required>
              <hr>
              <p>Enter the words to search for:</p>
              <input name="answerLine" type="text" ng-model="vm.game.answerLine" id="answerLine" class="form-control" placeholder="One, Two, Three, ..." required>
            </div>
            <div ng-switch-when="wordscramble">
              <h1>Word-Scramble</h1>
              <p>Something something Word-Scramble something something.</p>
              <!--
              So I need a paragraph description.
              A potential image storage place.
              number of worrds to unscrable, then need a place to put in the scrambled word and the unscrambled word
              should be an option for words or phrases, where phrases are multiple words, should be another option to choose. Actualy, a phrase could just be typed in a single box.
              Use a letter from each word to spell a secret word option , ,
              -->
              <label>Number of words or phrases to scramble (integer 1 - 20):
                <input type="number" ng-model="vm.game.size" name="size" min="1" max="20" integer /><!--{{size}}-->
              </label>
              <div class="scrambleword" ng-if="vm.game.size > 0">
                <!-- //TODO add a visual outline around each of these div tags-->
                Enter Unscrambled Word or Phrase:
                <input name="word1" type="text" ng-model="vm.game.word1" id="word1" class="form-control" required>
                Enter Scrambled Word or Phrase:
                <input name="scram1" type="text" ng-model="vm.game.scram1" id="scram1" class="form-control" required>
                <br>
              </div>
              <div class="scrambleword" ng-if="vm.game.size > 1">
                <!-- //TODO add a visual outline around each of these div tags-->
                Enter Unscrambled Word or Phrase:
                <input name="word2" type="text" ng-model="vm.game.word2" id="word2" class="form-control" required>
                Enter Scrambled Word or Phrase:
                <input name="scram2" type="text" ng-model="vm.game.scram2" id="scram2" class="form-control" required>
                <br>
              </div>
            </div>
            <div ng-switch-when="maze">
              <h1>Maze</h1>
              <p>Maze game coming soon. Hopefully. </p>
            </div>
            <div ng-switch-default>
              <p>Select a game type from the drop down to see available options to create that game.</p>
            </div>
          </div>
          <hr>


        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.game._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
