<section>
  <div class="page-header">
    <h1>Games</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="game in vm.games"
       ui-sref="games.view({ gameId: game._id })"
       class="list-group-item">
      <b><h3 class="list-group-item-heading" ng-bind="game.name"></h3></b>
      <small class="list-group-item-text">
        <i><span ng-if="game.type === 'wordsearch'">Word-Search</span></i>
        <i><span ng-if="game.type != 'wordsearch'">Not word search</span></i>
      </small>
      <br>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="game.created | date:'mediumDate'"></span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.games.$resolved && !vm.games.length">
    No Games yet, why don't you <a ui-sref="games.create">create one</a>?
  </div>
</section>
