<section>
  <p class="page-header">
  <h1 align="center" ng-bind="vm.game.name"></h1>
  <p align="center" ng-bind="vm.game.paragraph"></p>
  </div>
  <style media="screen" type="text/css">
    #gameCanvas {
      background-color: white;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    #scrambleCanvas {
      background-color: gray;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  </style>

  <!-- this is the word search game board -->
  <div ng-switch="vm.game.type">
    <div ng-switch-when="wordsearch">
      <!-- This is a good way to decide which to use -->
      <div ng-controller="WordsearchController" ng-init="init(vm.game)">
        <div class="container" ng-click="clicked($event)">
          <p align="center">
            <canvas id="gameCanvas" height="700px" width="500px"></canvas>
          </p>
        </div>
      </div>
    </div>

    <div ng-switch-when="wordscramble">
      <div ng-controller="ScrambleController" ng-init="init(vm.game)">
        <div class="container" ng-click="clicked($event)">
          <p align="center">
            <canvas id="scrambleCanvas" height="750px" width="1200px"></canvas>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pull-right"
       ng-show="vm.game.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="games.edit({ gameId: vm.game._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.game.created | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.game.content"></p>

</section>
