<section>
  <div class="page-header">
    <h1>Contactus</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="contactu in vm.contactus"
       ui-sref="contactus.view({ contactuId: contactu._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="contactu.created | date:'mediumDate'"></span>
        by
        <span ng-if="contactu.user" ng-bind="contactu.user.displayName"></span>
        <span ng-if="!contactu.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="contactu.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.contactus.$resolved && !vm.contactus.length">
    No Contactus yet, why don't you <a ui-sref="contactus.create">create one</a>?
  </div>
</section>
