<section>
  <div class="page-header">
    <h1>{{artsubmission._id ? 'Edit Your Art Contest' : 'ART CONTEST SUBMISSION FORM'}}</h1>
  </div>

<!--////////////////////////////////////////////////////=====================advertizing -->

  <div class="well">

    <div class="paragraph" style="text-align:left;"><font size="5">We are thrilled to announce our partnerships
      with<br/><a href="http://www.myfloridaprepaid.com/">FL Pre-Paid College Plan</a>,<br/><a
        href="http://www.scholastic.com/home/">Scholastic</a>&nbsp;,<br/><a
        href="http://www.gatordominos.com/">Domino's </a>&amp; &nbsp;<br/>&#8203;<a href="https://www.sunstatefcu.org/">SunState
        Federal Credit Union</a></font><br/><font size="5">&#8203;to make our monthly art contest even more
      rewarding</font><span>.&nbsp;&#8203;<br/>&nbsp;Don't forget to support our sponsors!</span>
    </div>
  </div>

<!--////////////////////////////////////////////////////=====================describing -->
  <div class="well col-sm-5">
    <div class="paragraph" style="text-align:left;"><font color="#8d2424"><font size="6">Theme:<br/>illustrate yourself
      <br/>doing your favorite <br/>outdoor activity.</font></font><br/><br/><font size="6"
                                                                                   style="color:rgb(42, 42, 42)">How to
      enter:</font><br/><font color="#2a2a2a"> 1. Simply have your K-5th grader create his or her masterpiece based on
      this month's theme.<br/><span>2. Take a picture or scan it. </span><br/><span>3. Upload to the artwork below by 3/31/17!</span><br/><br/><span>Grand Prize includes:</span><br/><span>-$100 sponsored by our friends at SunState Federal Credit Union!</span><br/><span>-The artist will be featured on our front cover!<br/>-A CLASS PIZZA PARTY FROM DOMINO'S!</span><br/><span>-An awesome SunState pad-folio to make new art creations!</span><br/><br/><span>Runners Up Prizes include: </span></font><br/><span>-$25 sponsored by our friends at SunState Federal Credit Union!</span><br/><span>-The artist will be featured in our magazine!</span><br/><span>-A class pizza party from Domino's!</span><br/><span>-An awesome SunState pad-folio to make new art creations!</span><br/><br/><span
      style="color:rgb(42, 42, 42)">PHOTOGRAPH THE ART STRAIGHT ON AND AT THE HIGHEST RESOLUTION POSSIBLE.</span>
      <br><br><font size="5">By uploading your child's image to our website, you are giving us permission to print &amp; publish
        your child's image &amp; artwork.</font><br/><font size="3"><br/>Please &nbsp;email us &#8203;if you do not wish
        &nbsp;this to happen: &nbsp;&nbsp;&nbsp;<br/>admin@schoolnotesmagazine.org</font></h2>
    </div>


  </div>


  <div class="col-sm-1"></div>
  <!--class="col-sm-6"-->
  <div class="col-sm-6">

<!--////////////////////////////////////////////////////=====================form -->

    <form name="form.artsubmissionForm" class="form-horizontal" ng-submit="save(form.artsubmissionForm.$valid)" ><!--novalidate-->
      <fieldset>

        <div class=" well form-group" show-errors>
          <label><h6>ALL FIELDS WITH ASTERISK* ARE REQUIRED</h6></label><br>
          <label class="control-label" for="name">STUDENT'S NAME:*</label>
          <input name="name" type="text" ng-model="artsubmission.name" id="name" class="form-control" placeholder="Please Enter your Full Name" required>
          <!--<div ng-messages="form.artsubmissionForm.name.$error" role="alert" style="color:maroon">-->
            <!--<p  ng-message="required">Art Submitter name is required.</p>-->
          <!--</div>-->

          <label class="control-label" for="teacherName">TEACHER'S NAME:*</label>
          <input name="teacherName" type="text" ng-model="artsubmission.teacherName" id="teacherName" class="form-control" placeholder="Please Enter Teacher Full Name" required>

          <label class="control-label" for="school">SCHOOL?:</label>
          <input name="school" type="school" ng-model="artsubmission.school" id="school" class="form-control" placeholder="Please Enter your school name">
          <!--<div ng-messages="form.artsubmissionForm.school.$error" role="alert">-->
          <!--<p ng-message="required">Art Submitter school is required.</p>-->
          <!--</div>-->

          <label class="control-label" for="grade">GRADE:</label>
          <input name="grade" type="text" ng-model="artsubmission.grade" id="grade" class="form-control" placeholder="Please Enter your Grade">
          <!--<div ng-messages="form.artsubmissionForm.age.$error" role="alert">-->
          <!--<p class="help-block error-text" ng-message="required">Art Submitter age is required.</p>-->
          <!--</div>-->

          <label class="control-label" for="email">YOUR EMAIL:*</label>
          <input name="email" type="email" ng-model="artsubmission.email" id="email" class="form-control" placeholder="Please Enter your Email" required>
          <!--<div ng-messages="form.artsubmissionForm.email.$error" role="alert" style="color:maroon">-->
            <!--<p ng-message="required">Art Submitter Email is required in the form "john@email.com".</p>-->
          <!--</div>-->

          <label class="control-label" for="artzipcode">Zip Code:*</label>
          <input name="artzipcode" type="zipcode" ng-model="artsubmission.artzipcode" id="artzipcode" class="form-control" placeholder="Zip Code" required>
          <!--&lt;!&ndash;<div ng-messages="form.artsubmissionForm.artzipcode.$error" role="alert">&ndash;&gt;-->
          <!--&lt;!&ndash;<p class="help-block error-text" ng-message="required">Art Submitter zip code is required.</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <label class="control-label" for="message">TELL US A LITTLE BIT ABOUT YOUR ARTWORK:*</label>
          <textarea name="message"  type="text" ng-model="artsubmission.message"  id="message" class="form-control" placeholder="PLEASE TELL US A LITTLE BIT ABOUT YOUR ARTWORK" required></textarea>

          <label class="control-label" for="notes">NOTES:</label>
          <textarea name="notes"  type="text" ng-model="artsubmission.notes"  id="notes" class="form-control" placeholder="Notes?" ></textarea>

          <!--<label class="control-label" for="address">Address:</label>-->
          <!--<input name="address" type="text" ng-model="artsubmission.address" id="address" class="form-control" placeholder="Please Enter your Address" required>-->
          <!--<div ng-messages="form.artsubmissionForm.address.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Art Submitter address is required.</p>-->
          <!--</div>-->

          <!--<label class="control-label" for="city">City:</label>-->
          <!--<input name="city" type="text" ng-model="artsubmission.city" id="city" class="form-control" placeholder="Please Enter your city" required>-->
          <!--<div ng-messages="form.artsubmissionForm.city.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Art Submitter city is required.</p>-->
          <!--</div>-->

          <!--<label class="control-label" for="state">State:</label>-->
          <!--<input name="state" type="text" ng-model="artsubmission.state" id="state" class="form-control" placeholder="Please Enter your state" required>-->
          <!--<div ng-messages="form.artsubmissionForm.state.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Art Submitter state is required.</p>-->
          <!--</div>-->



        </div>

        <br>

        <div class="well">

          <form>
            <label>UPLOAD ARTWORK (3 MB MIN)*</label> <br>
            <label class="btn btn-success">Browse
              <input type="file" file-model="file.upload" name="myfile" ng-disabled="uploading" style="display: none;"
                     onchange="angular.element(this).scope().photoChanged(this.files)" >
            </label>
          </form>
          <div style="font-size:10px;">Max file size: 20MB</div>
          <div ng-show="uploading" class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only"></span>
            </div>
          </div>

          <img class="mythumbnail" ng-src="{{ thumbnail || artsubmission.thumbnail || 'modules/artsubmissions/client/img/image-1488733226420_orig1.jpg' }}" />
          <!--|| 'modules/artsubmissions/client/img/default.png'-->

          <br>
          <button class="btn btn-primary" ng-disabled="uploading" ng-click="uploadSubmit();">Upload</button><br><br>
          <div ng-show="message">
            <div ng-class="alert">{{ message }}</div>
          </div>

        </div>

<!--//////====================submitter picture-->
        <!--TODO-->
        <div class="well">

          <form>
            <label>A GREAT PICTURE OF YOUR ARTIST...TO USE IF THEY ARE ONE OF OUR WINNERS!*</label> <br>
            <label class="btn btn-success">Browse
              <input type="file" file-model="file.upload" name="myfile2" ng-disabled="uploading" style="display: none;"
                     onchange="angular.element(this).scope().picChanged(this.files)" required>
            </label>
          </form>
          <div style="font-size:10px;">Max file size: 20MB</div>
          <div ng-show="uploading" class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only"></span>
            </div>
          </div>

          <img class="mythumbnail" ng-src="{{ submitterPic || artsubmission.submitterPic || 'modules/users/client/img/profile/default.png' }}" />
          <!--|| 'modules/artsubmissions/client/img/default.png'-->

          <br>
          <button class="btn btn-primary" ng-disabled="uploading" ng-click="uploadSubmit2();">Upload</button><br><br>
          <div ng-show="message2">
            <div ng-class="alert">{{ message2 }}</div>
          </div>

        </div>


        <div ng-show="artsubmission.isAdmin">
          <h2>Only admin can see this message and bellow this line options -------</h2>
          <!--<label>Status:</label>-->
          <!--<input name="status" type="text" ng-model="artsubmission.status">-->
          <br>

          <!--<label>Approved:-->
            <!--<input type="checkbox" ng-model="artsubmission.approved">-->
          <!--</label><br>-->
          <!--<label>Rejected:-->
            <!--<input type="checkbox" ng-model="artsubmission.rejected">-->
          <!--</label>-->

          <!--<button class="btn btn-success text-center" ng-click="artsubmission.approve = 'approved'">Approve</button>-->
          <!--<button class="btn btn-danger text-center" ng-click="artsubmission.approve = 'rejected'">Reject</button>-->
          </br>
          <label class="control-label" for="AdminNotes">Admin Notes:</label>
          <textarea name="AdminNotes"  type="text" ng-model="artsubmission.AdminNotes"  id="AdminNotes" class="form-control" placeholder="notes for admin"></textarea>


          <br>
          <label>check this box if you want to send an email to Artwork owner's email?
            <input type="checkbox" ng-model="artsubmission.sendEmail">
          </label>

          <div ng-show="artsubmission.sendEmail">
            <label>Email Subject:</label><br>
            <input name="emailSubject" type="text" ng-model="artsubmission.emailSubject"><br>

            <label class="control-label" for="emailMessage">Email Message:</label><br>
            <textarea name="emailMessage"  type="text" ng-model="artsubmission.emailMessage"
                      id="emailMessage" class="form-control" placeholder="email message"></textarea>
          </div>

        </div>

        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default text-center">{{artsubmission._id ? 'Update' : 'Create'}}</button>
        </div>


      </fieldset>
    </form>
  </div>
</section>
