<section>
  <div class="page-header">
    <h1>Art Submission List</h1>
  </div>
  <div class="list-group">

    <input type="text" ng-model="search" placeholder="Search here" />

    Order by:
    <button class="btn btn-default text-center" ng-click="order = 'name'">Name</button>
    <button class="btn btn-default text-center" ng-click="order = 'school'">School</button>
    <button class="btn btn-default text-center" ng-click="order = 'grade'">Grade</button>
    <!--<button class="btn btn-default text-center" ng-click="order = 'address'">Address</button>-->
    <!--<button class="btn btn-default text-center" ng-click="order = 'city'">City</button>-->
    <!--<button class="btn btn-default text-center" ng-click="order = 'state'">State</button>-->
    <!--<button class="btn btn-default text-center" ng-click="order = 'zipcode'">zipcode</button>-->
    <button class="btn btn-default text-center" ng-click="order = 'thumbnail'">art Name</button>

    <a ng-repeat="artsubmission in artsubmissions  | orderBy: order | filter: search "
       ui-sref="artsubmissions.view({ artsubmissionId: artsubmission._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="artsubmission.created | date:'mediumDate' "></span>
        by
        <span ng-if="artsubmission.user" ng-bind="artsubmission.user.displayName"></span>
        <span ng-if="!artsubmission.user">Deleted User</span>
      </small>
      <div class="row">
        <div class="col-sm-6" >
          <h4 class="list-group-item-heading" ng-bind="artsubmission.name"></h4>
          Grade: {{artsubmission.grade}}</br>
          <div ng-show="artsubmission.isAdmin">
            Email: {{artsubmission.email}}</br>
            School: {{artsubmission.school}}</br>

            <!--Address: {{artsubmission.address}}</br>-->
            <!--City: {{artsubmission.city}}</br>-->
            <!--State: {{artsubmission.state}}</br>-->
            <!--Zip Code: {{artsubmission.zipcode}}</br>-->
            Message: {{artsubmission.message}}</br>
            Approved: {{artsubmission.approved}}</br>
            Rejected: {{artsubmission.rejected}}</br>
            Admin Notes: {{artsubmission.AdminNotes}}
          </div>
        </div>
        <div class="col-sm-6" >
         <img ng-src="{{artsubmission.thumbnail}}" class="mythumbnail"/>
        </div>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="artsubmissions.$resolved && !artsubmissions.length">
    No Art submissions yet, why don't you <a ui-sref="artsubmissions.create">create one</a>?
  </div>
</section>
