<section>
  <div class="well page-header">
    <div  ng-hide="artsubmission.isCurrentUserOwner || artsubmission.isAdmin">
      <h4 class="list-group-item-heading" ng-bind="artsubmission.name"></h4>
    </div>
    <div  ng-show="artsubmission.isCurrentUserOwner || artsubmission.isAdmin">
      <code>Thank you <span class="list-group-item-heading" ng-bind="artsubmission.name"></span>
        for entering our art contest! <br><br>
        Winners will be notified in our next publication!!<br>
        Like us to play our other monthly contests!!<br>
        https://www.facebook.com/SchoolNotesMagazine/?ref=hl</code>
      <!--<code>status: {{artsubmission.status}}</code>-->
    </div>
    <br>

    Teacher's Name: {{artsubmission.teacherName}}</br>
    School: {{artsubmission.school}}</br>
    Grade: {{artsubmission.grade}}</br>
    Zip Code: {{artsubmission.artzipcode}}</br>
    </br></br>
    <h4>ArtWork: </h4>
    <img ng-src="{{artsubmission.thumbnail}}" class="mythumbnailLarge"/>
    <br><br><br>

    <div ng-show="artsubmission.isAdmin">


      <!--Address: {{artsubmission.address}}</br>-->
      <!--City: {{artsubmission.city}}</br>-->
      <!--State: {{artsubmission.state}}</br>-->

      <h2>------- Only admin can see this message and bellow options -------</h2><br>
      <h4>Picture of Artist:</h4>
      <img ng-src="{{artsubmission.submitterPic}}" class="mythumbnailLarge"/><br><br>
      <h4>Artist private info:</h4>
      &nbsp&nbsp&nbsp Email: {{artsubmission.email}}</br>
      &nbsp&nbsp&nbsp Message from Artist: {{artsubmission.message}}</br></br>

      <h4>Admin Notes:</h4>
      &nbsp&nbsp&nbsp{{artsubmission.AdminNotes}}</br><br>
      <h4>Subject of email sent by admin:</h4>
      &nbsp&nbsp&nbsp{{artsubmission.emailSubject}}</br>
      <h4>Email message that was sent by admin:</h4>
      &nbsp&nbsp&nbsp{{artsubmission.emailMessage}}</br><br>
      <!--Approved: {{artsubmission.approved}}</br>-->
      <!--Rejected: {{artsubmission.rejected}}</br>-->


    </div>

<!--{{artsubmission}}-->
  </div>

  <div class="pull-right" ng-show="artsubmission.isCurrentUserOwner || artsubmission.isAdmin">

    <!--<div ng-hide="artsubmission.isAdmin">-->
      <button ng-hide="artsubmission.isAdmin" class="btn btn-success text-center" title="UPDATE" ui-sref="artsubmissions.edit({ artsubmissionId: artsubmission._id })">Update</button>
    <!--</div>-->
    <!--<div ng-show="artsubmission.isAdmin">-->
      <button ng-show="artsubmission.isAdmin" class="btn btn-success text-center" title="Review" ui-sref="artsubmissions.edit({ artsubmissionId: artsubmission._id })">Review</button>
    <!--</div>-->

    <button class="btn btn-danger text-center" title="DELETE" ng-click="remove()">Delete</button>
    <!--<a class="btn btn-primary" title="EDIT"-->
       <!--ui-sref="artsubmissions.edit({ artsubmissionId: artsubmission._id })">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" title="REMOVE" ng-click="remove()">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  </div>


  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="artsubmission.created | date:'mediumDate'"></span>
      by
      <span ng-if="artsubmission.user"
            ng-bind="artsubmission.user.displayName"></span>
      <span ng-if="!artsubmission.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="artsubmission.content"></p>
</section>
