<section>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link rel="stylesheet" href="sponsor.css">
    <div class="page-header">
      <h1>Advertise with Us!</h1>
    </div>
  </head>
  <div>
    <form id = "vm.form.sponsorForm" name="vm.form.sponsorForm" class="form-horizontal" ng-submit="vm.save(vm.form.sponsorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group col-sm-4" show-errors>
          <label class="control-label" for="name">Business Name:</label>
          <input name="name" type="text" ng-model="vm.sponsor.name" id="name" class="form-control" placeholder="e.g. School Notes Magazine" required>
          <div ng-messages="vm.form.sponsorForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Sponsor name is required.</p>
          </div>
          <br/>
          <label class="control-label" for="contact">Name of Contact:</label>
          <input  type="text" ng-model="vm.sponsor.contact" id="contact" class="form-control" placeholder="e.g. Jane Doe" required>
          <div ng-messages="vm.form.sponsorForm.contact.$error" role="alert">
            <p class="help-block error-text" ng-message="required">The name of a business contact is required.</p>
          </div>
          <br/>
          <label class="control-label" for="email">Email:</label>
          <input name="email" type="text" ng-model="vm.sponsor.email" id="email" class="form-control" placeholder="e.g. jdoe2012@internet.com" required>
          <div ng-messages="vm.form.sponsorForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">A contact email is required.</p>
          </div>
          <br/>
          <label class="control-label" for="phone">Phone:</label>
          <input name="phone" type="text" ng-model="vm.sponsor.phone" id="phone" class="form-control" placeholder="e.g. (352)555-4444" required>
          <div ng-messages="vm.form.sponsorForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">A phone number is required.</p>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="form-group col-sm-6">
          <label class="control-label" for="message">Your Message:</label>
          <textarea name="message"  type="text" ng-model="vm.sponsor.message"  id="message" class="form-control" placeholder="Tell us about your business!"></textarea>
          <br/>
          <label class="control-label" for="zipcode">Zip Code:</label>
          <input name="zipcode" type="text" ng-model="vm.sponsor.zipcode" id="zipcode" class="form-control" placeholder="e.g. 32608" required>
          <div ng-messages="vm.form.sponsorForm.zipcode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">A zip code is required.</p>
          </div>
          <br/>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
          <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
          <div class="fileUpload btn btn-default">
            <span>Upload</span>
            <input id="upload" type="file" ng-model="vm.sponsor.upload" class="upload" name="files[]" multiple/>
            <output id="list"></output>
          </div>
        </div>
      </fieldset>
      <br/>
      <div class="form-group">
        <button type="submit" class="btn btn-default" id="send-btn">Send</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </form>
  </div>
</section>
