<section>
  <div class="page-header">
    <h1 ng-bind="vm.sponsor.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.sponsor.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="sponsors.edit({ sponsorId: vm.sponsor._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.sponsor.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.sponsor.user"
            ng-bind="vm.sponsor.user.displayName"></span>
      <span ng-if="!vm.sponsor.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.sponsor.content"></p>
</section>
<section>
  <b>Contact:</b>
  <span style="padding-left: 9px" ng-bind="vm.sponsor.contact"></span>
</section>
<section>
  <b>Phone:</b>
  <span style="padding-left: 23px" ng-bind="vm.sponsor.phone"></span>
</section>
<section>
  <b>E-mail:</b>
  <span style="padding-left: 20px" ng-bind="vm.sponsor.email"></span>
</section>
<section>
  <br>
  <pre><div ng-bind="vm.sponsor.message"></div></pre>
</section>
