<section>
  <div class="page-header">
    <h1 ng-bind="sponsor.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="sponsor.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="sponsors.edit({ sponsorId: sponsor._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="sponsor.created | date:'mediumDate'"></span>
      by
      <span ng-if="sponsor.user"
            ng-bind="sponsor.user.displayName"></span>
      <span ng-if="!sponsor.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="sponsor.content"></p>
</section>
<section>
  <b>Contact:</b>
  <span style="padding-left: 9px" ng-bind="sponsor.contact"></span>
</section>
<section>
  <b>Phone:</b>
  <span style="padding-left: 23px" ng-bind="sponsor.phone"></span>
</section>
<section>
  <b>E-mail:</b>
  <span style="padding-left: 20px" ng-bind="sponsor.email"></span>
</section>
<section>
  <br>
  <pre><div ng-bind="sponsor.message"></div></pre>
</section>
<section>
  <br>
  <img style="padding-bottom: 40px" ng-src={{sponsor.thumbnail}}>
</section>
